@model WebApplication4.Models.UserCategoryViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UserCategoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChosenCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChosenCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
